@font-face {
	font-family: "Geologica";
	font-display: swap;
	src: url("../fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.woff2") format("woff2"),
	     url("../fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "Maven Pro";
	font-display: swap;
	src: url("../fonts/MavenPro-VariableFont_wght.woff2") format("woff2"),
	     url("../fonts/MavenPro-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

