.btn {
	@extend %flex-center;
	padding: rem(15) rem(20);
	min-height: rem(56);
	font-size: rem(18);
	font-weight: 700;
	border-radius: rem(8);
	color: var(--light-color);
	transition: var(--bs-transition);

	&.--default {
		padding: rem(14) rem(16);
		min-height: auto;
		font-size: rem(16);
		background-color: var(--primary-color);

		@include hover {
			background-color: var(--primary-light-color);
		}
	}

	&.--sun {
		overflow: hidden;
		background: var(--bs-linear-gradient);
		transition: unset;

		@include hover {
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		}
	}

	&.--outline {
		background-color: transparent;
		border: 1px solid rgba(#fff, 0.15);

		@include hover {
			border-color: var(--light-color);
		}
	}

	&.--light {
		padding: rem(12) rem(16);
		min-height: auto;
		font-size: rem(16);
		line-height: rem(20);
		background-color: var(--light-color);
		color: var(--accent-color);

		@include hover {
			background-color: transparent;
			border: 1px solid var(--light-color);
			color: var(--light-color);
		}
	}
}
